.compare_div {
  width: 500px;
  min-height: 150px;
  background-color: #f1f1f6;
  padding: 2rem;
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.compare_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.compare_header h1 {
  color: #555;
  font-weight: bold;
}
.compare_header button {
  padding: 1rem 1.2rem;
  font-weight: bold;
  border-radius: 50%;
  outline: none;
  border: none;
  margin: 0 5px;
  background-color: #333;
  color: #fff;
}

.item_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border-bottom: 1px solid #999;
}
